section.canhcam-nav-4
	.container
		ul.nav.nav-list
			li.nav-item
				a.nav-link(href="tongquan.html") Tổng quan
			li.nav-item.active
				a.nav-link(href="quyhoach.html") Quy hoạch
			li.nav-item
				a.nav-link(href="phattrien.html") Phát triển
			li.nav-item
				a.nav-link(href="thietke.html") Thiết kế
