section.canhcam-utilities-2
	.container.utilitie-wrap
		article.utilitie-list
			.title
				h1.ak-title.center Khu sinh hoạt cộng đồng
				p.sub-title Toạ lạc tại Bắc An Khánh, phía Tây Hà Nội, khu đô thị phức hợp Splendora mang lại cho bạn mọi tiện nghi về không gian sống, không gian làm việc, không gian giao lưu văn hoá, giáo dục, mua sắm và giải trí.Một đô thị mới với đầy đủ chức năng, tiện nghi hơn hẳn những khu đô thị hiện hữu tại Việt Nam. Tổ hợp các khu nhà và công trình tại Splendora tạo nên một tổng thể hoàn hảo và đảm bảo công năng sự dụng một cách tối đa. Bạn sẽ tận hưởng những dịch vụ tiện ích đẳng cấp như trường học quốc tế hay trung tâm thương mại toàn cầu ngay tại nơi sinh sống.
			.row
				.col-lg-8.top-list
					figure.item(bg-img="./img/tienich/chitiet/img-1.png")
						img(src="./img/tienich/chitiet/img-1.png", alt="alt")
				.col-lg-4
					.row.part-list
						.col-12.col-md-6
							figure.item
								img(src="./img/tienich/chitiet/img-2.png", alt="alt")
						.col-12.col-md-6
							figure.item
								img(src="./img/tienich/chitiet/img-3.png", alt="alt")
						.col-12
							figure
								figcaption
									p Các công trình thương mại dịch vụ và hạ tầng xã hội tại Splendora bao gồm: trung tâm giao lưư văn hoá , trung tâm vui chơi giải trí, trung tâm mua sắm bán sỉ và lẻ và các công trình nhà hàng, quán giải khát, trung tâm chăm sóc sắc đẹp, trung tâm thể dục thể hình….
						.col-12
							figure.item
								img(src="./img/tienich/chitiet/img-4.png", alt="alt")
				.col-12.bottom-list
					.row
						.col-lg-3
							figure
								figcaption
									h2.big-title
										span Dịch vụ tiện ích
										| Đẳng cấp
						.col-lg-9
							figure
								figcaption
									p Ngoài ra, nhằm tạo nên các tiện ích cao nhất cho dân cư đô thị, các công trình dịch vụ cấp đơn vị được bố trí trải rộng trên tổng thể đô thị. Các công trình này được bố trí đan xen, hoà hợp với các điểm công viên cây xanh, và các dịch vụ hạ tầng xã hội khác. Các công trình thương mại dịch vụ có tổng diện tích 14,28ha chiếm 5,4% đất xây dựng đô thị, đạt 4,5m2/người. Tầng cao từ 2-4 tầng, mật độ xây dựng từ 25% -50%, hệ số SDD 1 lần. Ngoài ra, một số các công trình công cộng cấp đơn vị ở như hành chính khu vực, ban quản lý dự án sẽ được bố trí tại tầng trệt của các công trình hỗn hợp. Mục đích của việc bố trí này làm tăng sự tiếp xúc của các cơ quan hành chính với người dân, đồng thời làm giảm nhu cầu sử dụng đất.
						.col-12
							p Ngoài ra, nhằm tạo nên các tiện ích cao nhất cho dân cư đô thị, các công trình dịch vụ cấp đơn vị được bố trí trải rộng trên tổng thể đô thị. Các công trình này được bố trí đan xen, hoà hợp với các điểm công viên cây xanh, và các dịch vụ hạ tầng xã hội khác. Các công trình thương mại dịch vụ có tổng diện tích 14,28ha chiếm 5,4% đất xây dựng đô thị, đạt 4,5m2/người. Tầng cao từ 2-4 tầng, mật độ xây dựng từ 25% -50%, hệ số SDD 1 lần. Ngoài ra, một số các công trình công cộng cấp đơn vị ở như hành chính khu vực, ban quản lý dự án sẽ được bố trí tại tầng trệt của các công trình hỗn hợp. Mục đích của việc bố trí này làm tăng sự tiếp xúc của các cơ quan hành chính với người dân, đồng thời làm giảm nhu cầu sử dụng đất.
							p Ngoài ra, nhằm tạo nên các tiện ích cao nhất cho dân cư đô thị, các công trình dịch vụ cấp đơn vị được bố trí trải rộng trên tổng thể đô thị. Các công trình này được bố trí đan xen, hoà hợp với các điểm công viên cây xanh, và các dịch vụ hạ tầng xã hội khác. Các công trình thương mại dịch vụ có tổng diện tích 14,28ha chiếm 5,4% đất xây dựng đô thị, đạt 4,5m2/người. Tầng cao từ 2-4 tầng, mật độ xây dựng từ 25% -50%, hệ số SDD 1 lần. Ngoài ra, một số các công trình công cộng cấp đơn vị ở như hành chính khu vực, ban quản lý dự án sẽ được bố trí tại tầng trệt của các công trình hỗn hợp. Mục đích của việc bố trí này làm tăng sự tiếp xúc của các cơ quan hành chính với người dân, đồng thời làm giảm nhu cầu sử dụng đất.