header.canhcam-header-14
	.k-menu-bar.container
		#logo.mr-auto
		#search
		button.k-button-toggle.navbar-toggler(k-toggle-for="#demoResAllInOneMenu")
			i.mdi.mdi-menu
	#demoResAllInOneMenu.container.k-responsive-menu
		.k-menu-bar
			.k-logo.navbar-brand.mr-auto
				img(src="./img/logo/logo-splendora.png", alt="")
			button.k-button-toggle.navbar-toggler(k-toggle-for="#demoResAllInOneMenu")
				i.mdi.mdi-close
		.k-logo.navbar-brand(k-menu-map-to="#logo")
			img(src="./img/logo/logo-splendora.png", alt="")
		.mainnav.ml-auto
			.advbar.d-none.d-lg-flex
				ul.top-nav(k-menu-map-to="#top-nav")
					li.nav-item
						a(href="#").nav-link Tin tức
					li.nav-item
						a(href="#").nav-link Hỗ trợ khách hàng
					li.nav-item
						a(href="#").nav-link Tuyển dụng
					li.nav-item
						a(href="#").nav-link Liên hệ
				.phone(k-menu-map-to="#phone")
					p.mb-0.d-flex.align-items-center (84.28) 39105523
				ul.social
					li.search
						a(href="#")
							em.mdi.mdi-magnify
					li
						a(href="#")
							em.mdi.mdi-facebook
					li
						a(href="#")
							em.mdi.mdi-twitter
					li
						a(href="#")
							em.mdi.mdi-instagram
				ul.language(k-menu-map-to="#language")
					li.active
						a(href="#") VN
					li
						a(href="#") EN

			ul.nav
				li.nav-item.active
					a.nav-link.home(href='#') 
						p.mb-0.d-lg-none Home
				li.nav-item
					a.nav-link(href='#') Giới thiệu
				li.nav-item
					a.nav-link(href='#') Sản phẩm
				li.nav-item
					a.nav-link(href='#') Vị trí
				li.nav-item
					a.nav-link(href='#') Tiện ích
				li.nav-item
					a.nav-link(href='#') Tiến độ
				li.nav-item
					a.nav-link(href='#') Hỗ trợ tài chính
				li.nav-item
					a.nav-link(href='#') An khánh jvc
				li.nav-item
					a.nav-link(href='#') Nhịp sống splendora
			#top-nav
			#phone.d-lg-none
			#language.d-flex.justify-content-center.py-3.d-lg-none
