section.canhcam-ankhanh-navbar
	.container
		ul.nav.nav-list
			li.nav-item
				a.nav-link(href="ankhanh-resident.html") Tin tức
			li.nav-item.active
				a.nav-link(href="ankhanh-resident-utility.html") Dịch vụ - tiện ích
			li.nav-item
				a.nav-link(href='#') Video
			li.nav-item
				a.nav-link(href='#') Hình ảnh
