section.canhcam-utilities-1
	.container.utilitie-wrap
		article.utilitie-list
			.title
				h1.ak-title.center Tiện ích
				p.sub-title Với mục tiêu trở thành khu đô thị phức hợp hạng nhất Việt Nam, Splendora Bắc An Khánh nỗ lực kiến tạo môi trường sống đẳng cấp, hiện đại với đầy đủ tiện ích hoàn hảo bao gồm các dịch vụ như trường học quốc tế, khu văn phòng, khu mua sắm, không gian giao lưu văn hóa, giáo dục, thể thao, mua sắm và giải trí, chăm sóc sắc đẹp, chăm sóc sức khỏe. Đó cũng là yếu tố tạo ra một lợi thế cạnh tranh khác biệt, đưa Splendora trở thành “nơi ước đến chốn mong về”.
			.row.no-gutters
				.col-lg-8.item
					figure(bg-img="./img/tienich/home/img-1.png")
						.boxzoom
							img(src="./img/tienich/home/img-1.png", alt="")
				.col-lg-4.item.part-item
					a(href="#")
						figure
							figcaption
								h3 Hệ thống trường học chuẩn quốc tế
								p Splendora không chỉ tốt cho bạn, mà tốt cho cả con cái bạn, gia đình bạn. Tại khu đô thị phức hợp số một miền Bắc Việt Nam này, bạn sẽ không phải băn khoăn về việc lựa chọn trường cho con cái mình. Con cái bạn sẽ được tận hưởng chất lượng giáo dục quốc tế tại Trường Quốc Tế Mỹ St.Paul Hà Nội nằm ngay trong khuôn viên Splendora.
								p.see-more Xem thêm
			.row.no-gutters
				.col-lg-8.item.order-lg-1
					figure(bg-img="./img/tienich/home/img-2.png")
						.boxzoom
							img(src="./img/tienich/home/img-2.png", alt="")
				.col-lg-4.item.part-item
					a(href="#")
						figure.reverse
							figcaption
								h3 Hệ thống trường học chuẩn quốc tế
								p Splendora không chỉ tốt cho bạn, mà tốt cho cả con cái bạn, gia đình bạn. Tại khu đô thị phức hợp số một miền Bắc Việt Nam này, bạn sẽ không phải băn khoăn về việc lựa chọn trường cho con cái mình. Con cái bạn sẽ được tận hưởng chất lượng giáo dục quốc tế tại Trường Quốc Tế Mỹ St.Paul Hà Nội nằm ngay trong khuôn viên Splendora.
								p.see-more Xem thêm
			.row.no-gutters
				.col-lg-8.item
					figure(bg-img="./img/tienich/home/img-3.png")
						.boxzoom
							img(src="./img/tienich/home/img-3.png", alt="")
				.col-lg-4.item.part-item
					a(href="#")
						figure
							figcaption
								h3 Hệ thống trường học chuẩn quốc tế
								p Splendora không chỉ tốt cho bạn, mà tốt cho cả con cái bạn, gia đình bạn. Tại khu đô thị phức hợp số một miền Bắc Việt Nam này, bạn sẽ không phải băn khoăn về việc lựa chọn trường cho con cái mình. Con cái bạn sẽ được tận hưởng chất lượng giáo dục quốc tế tại Trường Quốc Tế Mỹ St.Paul Hà Nội nằm ngay trong khuôn viên Splendora.
								p.see-more Xem thêm
			.row.no-gutters
				.col-lg-8.item.order-lg-1
					figure(bg-img="./img/tienich/home/img-4.png")
						.boxzoom
							img(src="./img/tienich/home/img-4.png", alt="")
				.col-lg-4.item.part-item
					a(href="#")
						figure.reverse
							figcaption
								h3 Hệ thống trường học chuẩn quốc tế
								p Splendora không chỉ tốt cho bạn, mà tốt cho cả con cái bạn, gia đình bạn. Tại khu đô thị phức hợp số một miền Bắc Việt Nam này, bạn sẽ không phải băn khoăn về việc lựa chọn trường cho con cái mình. Con cái bạn sẽ được tận hưởng chất lượng giáo dục quốc tế tại Trường Quốc Tế Mỹ St.Paul Hà Nội nằm ngay trong khuôn viên Splendora.
								p.see-more Xem thêm