section.canhcam-introduce-detail-2#canhcam-detail-section-2(bg-img="./img/bg/bg-splendora.png")
	.container.fixed-width.bg-white
		.slide
			h2.title.text-center.text-uppercase quy hoạch
			.row.text-center.text-lg-left.mb-4
				.col-12
					p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, assumenda ipsam culpa laborum ab saepe possimus enim voluptate voluptatum, aliquid maiores necessitatibus laboriosam ducimus dolor natus explicabo iusto repudiandae harum? Aliquid maiores necessitatibus laboriosam ducimus dolor natus explicabo iusto repudiandae harum?
			.row.mb-4.text-center
				.col-lg-6.mb-4.mb-lg-0
					figure
						img.img-fluid(src="./img/gioithieu/quyhoach/img-1.png", alt="")
				.col-lg-6.text-left
					figure
						figcaption.box-content
							ul.list-unstyled
								li.item.mb-4
									h3.brief-content Quy hoạch phân khu chức năng
								li.item.mb-4
									p.content.mb-3 Khu thương mại (498,000 m
										sup 2
										|)
									ul.circle
										li
											p.content Tòa tháp thương mại cao tầng tọa lạc tại vị trí trung tâm của dự án.
										li 
											p.content Các khu vực nhà cộng đồng.
								li.item.mb-4
									p.content.mb-3 Nhà ở (8,593 căn)
									ul.circle
										li
											p.content Biệt thự được thiết kế theo phong cách kiến trúc châu Âu.
										li
											p.content Liền kề được thế kế có vườn cảnh với 3 kiểu khác nhau.
										li
											p.content Chung cư cao tầng.
								li.item.mb-4
									p.content.mb-3 Tiện ích công cộng hiện đại
									ul.circle
										li
											p.content Hệ thống giáo dục bao gồm trường mẫu giáo, trường tiểu học, trung học cơ sở và phổ thông trung học.
										li
											p.content Phòng khám.
										li
											p.content Công viên hồ điều hòa trung tâm.
										li
											p.content Hệ thống nhà hàng và trung tâm giải trí.
			.row.mb-4
				h3.brief-content.text-left.mb-4.mb-lg-5 Kế hoạch sử dụng đất
				.col-12
					figure.box-img
						img.img-fluid(src="./img/gioithieu/quyhoach/img-2.png", alt="")
				.col-12
					figure.box-img
						img.img-fluid(src="./img/gioithieu/quyhoach/img-3.png", alt="")
