extends _layout/layout.pug
block variables
	- var title = "ankhanh-panigation"
	- var description = "Description for ankhanh-panigation page"
	- var bodyclass = "ankhanh-panigation"
	- var href = "/ankhanh-panigation.html"
block body
	include ../lib/ankhanh-panigation/p-1/index.pug

