extends _layout/layout.pug
block variables
	- var title = "Tiện tích"
	- var description = "Description for tiện ích page"
	- var bodyclass = "Tiện ích"
	- var href = "/tienich.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/slider/s-1/index.pug
	include ../lib/tienich/t-1/index.pug

