extends _layout/layout.pug
block variables
	- var title = "Tiện tích chi tiết"
	- var description = "Description for tiện ích chi tiết page"
	- var bodyclass = "Tiện ích chi tiết"
	- var href = "/tienich_ct.html"
block header
	include ../lib/header/h-14/index.pug
block body
	include ../lib/ankhanh-breadcrumb/b-1/index.pug
	include ../lib/tienich/t-2/index.pug
block footer
	include ../lib/ankhanh-footer/f-1/index.pug
