section.canhcam-nav-4(bg-img="./img/bg/bg-splendora.png")
	.container
		ul.nav.nav-list
			li.nav-item
				a.nav-link(href="#") Giới thiệu
			li.nav-item.active
				a.nav-link(href="#") Vị trí
			li.nav-item
				a.nav-link(href="#") Mặt bằng tổng thể
			li.nav-item
				a.nav-link(href="#") Thiết kế nhà
			li.nav-item
				a.nav-link(href="#") Tiện ích xung quanh
			li.nav-item
				a.nav-link(href="#") Thư viện ảnh
			li.nav-item
				a.nav-link(href="#") Tin tức
